<div class="container is-fluid py-5">
  <h2 class="title">Inställningar</h2>
  <p>
    Här kan du ändra inställningar, exempelvis vilken hållplats som ska visas.
  </p>

  <h3 class="is-size-4 mt-3">Hållplats</h3>
  <div *ngIf='userSettings.hasSite()'>
    {{ userSettings.getSite().name }}
    <a (click)="removeSite()" class="button is-danger is-small is-outlined">Ta bort</a>
  </div>
  <div *ngIf='!userSettings.hasSite()'>
    <p>
      Välj en hållplats att visa
    </p>
    <input #siteSearchQuery class="input my-2" type="text" placeholder="Hållplats..." />
    <a (click)="searchForSite(siteSearchQuery.value)" class="button is-primary is-outlined is-inverted">Sök hållplats</a>
    <ul *ngIf="searchResults.length > 0">
      <li *ngFor="let site of searchResults;"><a (click)="selectSite(site)">{{ site.name }}</a></li>
    </ul>
  </div>

  <h3 class="is-size-4 mt-3">Avvikelser</h3>
  <a (click)="resetDismissedSiteDeviations()" class="button is-primary is-outlined is-inverted">Rensa lästa avvikelser</a>

  <h3 class="is-size-4 mt-3">API Address</h3>
  <input #apiURLInput class="input my-2" type="text" placeholder="API..." />
  <a (click)="saveAPI(apiURLInput.value)" class="button is-primary is-outlined is-inverted">Spara API</a>
</div>