<div (click)="onClick()">
  <span *ngIf="departure.deviations?.length > 0" class="icon has-text-danger is-small">
    <i class="fas fa-exclamation-triangle"></i>
  </span>
  <span class="is-size-5 has-text-weight-bold">
    {{ text }}
  </span>
</div>
