<div class="columns is-vcentered is-mobile my-0 pl-1 pr-2" [class.even-row]="rowIndex % 2 === 0" [class.odd-row]="rowIndex % 2 !== 0">
  <div class="column">
    <div class="level is-mobile">
      <div class="level-left">
        <div class="level-item">
          <app-line-badge [line]="line"></app-line-badge>
        </div>
        <div class="level-item">
          <p class="is-size-5 has-text-weight-medium">
            {{ line.destination }}
          </p>
        </div>
      </div>
    </div>

  </div>
  <div class="column is-2">
    <app-departure-display *ngIf="line.departures?.length > 0" [departure]="line.departures[0]"></app-departure-display>
  </div>
  <div class="column is-2">
    <app-departure-display *ngIf="line.departures?.length > 1; else noNext" [departure]="line.departures[1]"></app-departure-display>
    <ng-template #noNext> - </ng-template>
  </div>
</div>