<article (click)="dismiss()" [class.is-warning]="deviation.importance < 5" [class.is-danger]="deviation.importance >= 5" class="message mb-1">
  <div class="message-body">
    {{ deviation.text }}
  </div>
</article>