<div #deviationsContainer>
  <app-site-deviation *ngFor="let dev of deviations;" [deviation]="dev"></app-site-deviation>
</div>
<div class="columns is-mobile my-0 py-0">
  <div class="column py-1 ml-2">
    Linje
  </div>
  <div class="column is-2 py-1">
    Nästa
  </div>
  <div class="column is-2 py-1">
    Därefter
  </div>
</div>
<app-site-line-row *ngFor="let line of lines; index as i;" [line]="line" [rowIndex]="i"></app-site-line-row>