<nav class="level is-mobile has-background-primary has-text-white">
  <p class="level-item is-size-4">
    {{ time | date: 'H:mm' }}
  </p>
  <a *ngIf="userSettings.hasSite()" routerLink="/" class="level-item py-4 is-size-3 has-text-weight-medium is-uppercase has-text-white">
    {{ userSettings.getSite().displayName }}
  </a>
  <p *ngIf="!userSettings.hasSite()" class="level-item py-4 is-size-3 has-text-weight-medium is-uppercase has-text-white">
    -
  </p>
  <a routerLink="/settings" class="level-item has-text-white">
    <span class="icon is-large">
      <i class="fas fa-cog"></i>
    </span>
  </a>
</nav>