@charset "utf-8";

$theme-blue: #22364E;
$theme-blue-light: lighten($theme-blue, 3);
$theme-blue-light-ter: lighten($theme-blue, 8);

// Bulma variables below:
$primary: $theme-blue;
$body-background-color: $theme-blue-light;

$even-row: $theme-blue-light;
$odd-row: $theme-blue-light-ter;

$text: white;
$text-strong: white;

$input-border-color: $theme-blue;
$input-background-color: $theme-blue-light-ter;

@import "../node_modules/bulma/bulma.sass";